<h3 mat-dialog-title>Login please</h3>
<div mat-dialog-content>
  <mat-select class="email-select" (change)="onChangeEMailSel($event)">
    <mat-option value="jst_aeon_prod@aeolix.eu">jst_aeon_prod</mat-option>
    <mat-option value="jst_aeon_dev@aeolix.eu">jst_aeon_dev</mat-option>
    <!--mat-option value="aeolix@aeon.eu">"aeolix"</mat-option>
    <mat-option value="aeolix_convert@aeon.eu">"aeolix_convert"</mat-option-->
    <mat-option value="thej_aeon_dev@aeolix.eu">thej_aeon_dev</mat-option>
  </mat-select>
<!-- 
  <mat-form-field>
    <input matInput tabindex="1" [(ngModel)]="data.email">
  </mat-form-field>
  <p>Password</p>
  <mat-form-field>
    <input matInput tabindex="2" [(ngModel)]="data.password">
  </mat-form-field>

 --></div>
<div mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="data" tabindex="3">Login</button>
  <button mat-raised-button (click)="onNoClick()" tabindex="-1">Cancel</button>
</div>