body {
    padding: 10px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }


  mat-toolbar.auth {
    background-color: rgb(241, 77, 77);
  }

  .auth {
    background-color: rgb(231, 160, 160);
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 3px;
  }
  