body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h4 {
    color:#515961;
}

.aeolix {
  height: 100vh;
  background-color: rgba(169, 169, 177, 0.445);
  /*background-color: rgba(45,159,167,.66);*/
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.aeolix-toolbar {
  /*background-color: rgba(192, 181, 181, 0.445);*/
  background-color: rgb(201, 206, 209);
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.aeolix-body-json {
  height: 100vh;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgba(214, 207, 207, 0.445);
}

.sidenav-content {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.sidenav {
  padding: 10px;
  max-width: 20%

}

.ReqShow{
  padding: 10px;
  height: 80%;
  overflow: scroll;
  /*background-color: rgb(208, 208, 219);*/
  /*background-color: #2EA3F2;  */
  background-color: rgba(233, 227, 227, 0.445);
}

.RespShow{
  padding: 10px;
  height: 80%;
  overflow: scroll;
  align-self: right;
  /*background-color: #2EA3F2;*/
  background-color: rgba(233, 227, 228, 0.445);
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 500px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}