<h3 mat-dialog-title>Send OneSignal message</h3>
  <div mat-dialog-content>
  <mat-form-field>
    <!--mat-select placeholder="OneSignal" [(ngModel)]="oneSignalAppId" name="item">
      <mat-option *ngFor="let item of oneSignalAppIds" [value]=item>{{item.viewValue}}</mat-option>
    </mat-select-->
    <mat-select [(ngModel)]="oneSignalAppId" name="item">
      <mat-option *ngFor="let item of oneSignalAppIds" [value]=item>{{item.viewValue}}</mat-option>
    </mat-select>
    
  </mat-form-field>

  <mat-form-field>
    <mat-select [(ngModel)]="oneSignalPlayerId">
      <mat-option *ngFor="let item of oneSignalPlayerIds" [value]=item>{{item.viewValue}}</mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field>
    <mat-select placeholder="" [(ngModel)]="oneSignalMessageId">
      <mat-option *ngFor="let item of oneSignalMessageIds" [value]=item>{{item.viewValue}}</mat-option>
    </mat-select>
  </mat-form-field>

  <hr>

  <button mat-raised-button (click)="onSendData()">SendIntern</button>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onSaveData()" [mat-dialog-close]="data">Save and exit</button>
  <button mat-raised-button (click)="onNoClick()" tabindex="-1">Cancel</button>
</div>