<mat-dialog-content>
<mat-toolbar>
    <form [formGroup]="FilterForm" (ngSubmit)="onSubmit()" class="form-group">
        <mat-form-field>
           
            <input matInput [matDatepicker]="picker_from" formControlName="Date_from" placeholder = "{{ 'AEOLIX.Select_DateFrom' | translate }}">
            <mat-datepicker-toggle matSuffix [for]="picker_from"></mat-datepicker-toggle>
            <mat-datepicker #picker_from></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            
            <input matInput [matDatepicker]="picker_until" formControlName="Date_until" placeholder="{{ 'AEOLIX.Select_DateUntil' | translate }}">
            <mat-datepicker-toggle matSuffix [for]="picker_until"></mat-datepicker-toggle>
            <mat-datepicker #picker_until></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            
            <input matInput type="text" formControlName="uniqueId" placeholder ="{{ 'AEOLIX.Select_UniqueID' | translate }}">
        </mat-form-field>
        <button mat-icon-button type="submit" [disabled]="!FilterForm.valid">
            <mat-icon>refresh</mat-icon>
        </button>
    </form>
</mat-toolbar>

<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="TourSCEMID">
            <mat-header-cell *matHeaderCellDef> TourSCEMID </mat-header-cell>
            <mat-cell *matCellDef="let tour"><button mat-button (click)="onTourSelected(tour)" matTooltip="{{ 'AEOLIX.Select_selectTour' | translate}}"> {{ tour.uniqueID }} </button></mat-cell>
        </ng-container>

        <ng-container matColumnDef="StopSCEMIDS">
            <mat-header-cell *matHeaderCellDef> StopSCEMIDS </mat-header-cell>
            <mat-cell *matCellDef="let tour"> {{ <!--tour.StopSCEMIDS.length--> }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="NumPosEvent">
            <mat-header-cell *matHeaderCellDef> NumPosEvent </mat-header-cell>
            <mat-cell *matCellDef="let tour"> {{ <!--arraysum(tour.NumPosEvent)--> }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="NumSubscription">
            <mat-header-cell *matHeaderCellDef> NumSubscription </mat-header-cell>
            <mat-cell *matCellDef="let tour"> {{ <!--arraysum(tour.NumSubscription)--> }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="NumETA">
            <mat-header-cell *matHeaderCellDef> NumETA </mat-header-cell>
            <mat-cell *matCellDef="let tour"> {{ <!--arraysum(tour.NumETA)}}--> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Options">
            <mat-header-cell *matHeaderCellDeff>Options</mat-header-cell>
            <mat-cell *matCellDef="let tour">
                <button mat-icon-button (click)="onDelete(tour)">
                    <mat-icon>
                       delete
                    </mat-icon>
                </button>    
                Test
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>


    </mat-table>
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
</div>
<hr>
<mat-dialog-action>
    <button mat-raised-button [mat-dialog-close]="data.uniqueID" matTooltip>
        Show
    </button>
</mat-dialog-action>
</mat-dialog-content>