<h3 mat-dialog-title>Dakosy</h3>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput tabindex="1" [(ngModel)]="data.email">
  </mat-form-field>
  <p>Password</p>
  <mat-form-field>
    <input matInput tabindex="2" [(ngModel)]="data.password">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="data" tabindex="3">Process</button>
  <button mat-raised-button (click)="onNoClick()" tabindex="-1">Cancel</button>
</div>
