<button mat-raised-button [mat-dialog-close]="data.scemid">
    Show
</button>

<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="StopSCEMID">
            <mat-header-cell *matHeaderCellDef> StopSCEMID </mat-header-cell>
            <mat-cell *matCellDef="let stop"><button mat-button (click)="onSubscriptionSelected(stop)"> {{ stop }} </button></mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>


    </mat-table>

    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>
</div>