<h3 mat-dialog-title>Please select usecase</h3>
<div mat-dialog-content>
  <div class="col-md-12">
    <div class="col-md-4">
      <button mat-raised-button (click)="onNoClick()" tabindex="-1">DAKOSY</button>
    </div>
    <div class="col-md-4">
      <button mat-raised-button (click)="onNoClick()" tabindex="-1">PTV</button>
    </div>
    <div class="col-md-4">
      <span matTooltip="{{ 'Check me'}}">
        <button mat-icon-button matToolTip="Check me" (click)="onNoClick()" tabindex="-1">
          <mat-icon style="font-size: 24px">{{ 'dashboard' }}</mat-icon>
          BtnTxt
        </button>
      </span>
    </div>
  </div>

  <div class="col-md-12">
    <div class="col-md-4">
      <span matTooltip="{{ 'TEST_1'}}">
        <button mat-raised-button (click)="onNoClick()" tabindex="-1">TEST_1</button>
      </span>
    </div>
    <div class="col-md-4">
      <span matTooltip="{{ 'TEST_2'}}">
        <button mat-raised-button (click)="onNoClick()" tabindex="-1">TEST_2</button>
      </span>
    </div>
    <div class="col-md-4">
      <span matTooltip="{{ 'OneSignal'}}">
        <button mat-icon-button (click)="onOneSignal()" tabindex="-1">
          <mat-icon style="font-size: 24px">{{ 'dashboard' }}</mat-icon>
          OneSignal
        </button>
      </span>
    </div>
  </div>
</div>